/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2019, 3:01:57 PM
    Author     : chenyizhe
*/


.struct{
    width: 50%;
}

.row.content{
    height: 450px
    }

.sidenav{
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
    }
.row.content {height:auto;} 
    }
 .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
      max-height: 500px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  
  .fontcolor{
      color: whitesmoke;
  }
  
  .fontcolorb{
      color: black;
  }
  .fontcolory{
     color: #ff8c1a;
  }
  .fontcolorr{
     color: #dd212d;
  }
  
.movies {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.movies td, #movies th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.movies tr:nth-child(odd){background-color: #2d2b2b;}
.movies tr:nth-child(even){background-color: #191515;}

.movies tr:hover {background-color: #969393;}

.movies th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0d0d0d;
  color: white;
}


 .rightMenu {
    background-color: #4d4d4d;
    position:relative;
    float:right;
    margin-top: 10px;
}
.right-caret {
    
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 1;
    vertical-align: top;
    width: 0;

}
.right
{
    float:right;
}

.posterul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  
  display: inline-block;
  vertical-align: middle;
}

.posterli {
  display: inline;
}

.posterlia {
  
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.popover-content{
    background: #666666;
}
.popover{
        width:600px;
}
a:hover{
    text-decoration: none;
    color: #ff8c1a;
}

.floatedTable {
            float:left;
        }
